body { 
    background-color: hsl(30, 54%, 90%);
}

.content-wrapper {
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto; /* I learned that margin: 0 auto automaticly centers the block baised on resolution */
    max-width: 52%;
    border-radius: 15px;
}

.outer-image-omelette {
    padding-top: 4%; /* had to add the padding outside the image to prevent the rounded corners from cutting off the image */
}


.image-omelette {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 90%; /* adusts the image baised on the containers width. */
    height: auto;
}

.recipe-title {
    font-family: "Young Serif", serif;
    font-size: 13px;
    color: hsl(24, 5%, 18%);
    padding-left: 5%;
}

.recipe-description {
    font-family: "Outfit", sans-serif;
    font-size: 8px;
    font-style: normal;
    color: hsl(30, 10%, 34%);
    padding-left: 5%;
    padding-right: 5%;
}

.preparation-time-title {
    font-family: "Outfit", sans-serif;
    font-size: 10px;
    color: hsl(332, 51%, 32%);
    padding-left:10%;
    padding-top: 23px;
}

.preparation-time {
    font-family: "Outfit", sans-serif;
    font-size: 8px;
    color: hsl(30, 10%, 34%);
    padding-left: 3%;
}

.preparation-time-list {
    padding-left: 3%;
}

ul li::marker { /* learned that this changes the color of just the bullet points in an unorder list */
    color: hsl(332, 51%, 32%);
    font-size: 6px;
}

.ingredients-title {
    font-family: "Young Serif", serif;
    font-size: 13px;
    color: hsl(14, 45%, 36%);
    padding-left: 7%;
    padding-top: 16px;
}

.ingredients {
    font-family: "Outfit", sans-serif;
    font-size: 8px;
    color: hsl(30, 10%, 34%);
    padding-bottom: 10px;
}

.ingredients-list {
    padding-left: 3%;
}

hr.solid {
    border-top: 1px solid hsl(30, 54%, 90%);
    margin-left: 5%;
    margin-right: 5%;}

.intruction-titles {

}

.intructions {

}

.nutrition {

}

.nutrition-title {

}

.nutrition-table {

}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}